<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="xyz.tcreopargh.amttd">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".AMTTD"
            android:allowBackup="true"
            android:fullBackupContent="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AMillionThingsToDo"
            android:hardwareAccelerated="true"
            android:usesCleartextTraffic="true">
        <activity
                android:name=".ui.share.WorkGroupShareActivity"
                android:label="@string/action_share_workgroup"
                android:excludeFromRecents="true"
                android:theme="@style/Theme.AppCompat.Light.Dialog"
                android:launchMode="singleTop" />
        <activity
                android:name=".ui.login.LoginActivity"
                android:label="@string/title_activity_login"
                android:launchMode="singleTask" />
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:launchMode="singleTask"
                android:theme="@style/Theme.AMillionThingsToDo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>